.form-container {
  max-width:960px;
  margin:0 auto;
  background:#fff;
  border-radius:10px;
  box-sizing:border-box;
  padding:20px;
  overflow:hidden;
  color:#375471;
  float: left;
  margin-top: 10px;
  margin-left: -48px;
}
.col-md-4 {
    margin-bottom: 10px;!important
}
.col-md-centralizar{
    margin-left: -7px;
}

.preco{
    margin-left: -7px;
}

.marca{
    margin-left: -2px;
}
.foto{
    margin-left: -11px;
}
.data{
    margin-left: -7px;
}

.inputCheckbox{
    background: #ccc;
    border: 1px solid #999;
    border-radius: 3px;
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0; padding: 0;
    -webkit-appearance: none;
    -webkit-transition: .15s;
}
.inputCheckbox:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.inputCheckbox:checked{
    background: #33ff33;
    border-color: #1d5b95;
    box-shadow: 0 0 3px #4d99e1;
}
.labelCheckbox{
    color: #333;
    cursor: pointer;
    margin: 0 0 0 2px;
    padding: 0;
}
.servicos{
    width: 800px;
    height: 1px;
}
.btnLimpar{
    position: relative;
    margin: -68px;
    margin-left: 330px;
    float: left;
     background:#f2f2f2;
      border:2px solid #dadada;
      border-radius:5px;
      width:95px;
      line-height:33px;
      text-transform:uppercase;
      color:#999;
      outline:#0083ff;
}
.btnCadastrar{
      position: relative;
      margin: 22px;
      margin-left: 217px;
      background:#f2f2f2;
      border:2px solid #dadada;
      border-radius:5px;
      width:95px;
      line-height:33px;
      text-transform:uppercase;
      color:#999;
      outline:#0083ff;

}
.btnCadastrar:hover{
    border:2px solid #375471;
    border-radius:5px;
    color:#375471;
    cursor:pointer;
}
.btnLimpar:hover{
    border:2px solid #375471;
    border-radius:5px;
    color:#375471;
    cursor:pointer;
}





input[type="text"]{
    border-radius:5px;
      border:2px solid #dadada;
      height:20px;
      line-height:25px;
      font-family: 'Noticia Text', serif;
      padding-left:5px;
      outline-color:#0083ff;
}

