<!DOCTYPE>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link href="cadastro.css" type="text/css" rel="stylesheet">
    <script src="jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="cadastro.js" type="text/javascript"></script>
</head>
<body>
<div class="form-container">
    <form class="formCadastro" style="text-align: center;" action="/claro" modelAttribute="claro" method="post">
        <div class="form-group col-md-4">
            <b>Modelo:</b>  <input type="text" id="model" name="model">
        </div>
        <div class="form-group col-md-4 col-md-centralizar preco">
            <b>Preço:</b>  <input type="text" id="price" name="price">
        </div>
        <div class="form-group col-md-4 col-md-centralizar marca">
            <b>Marca:</b>  <input type="text" id="brand" name="brand" maxlength="8">
        </div>
        <div class="form-group col-md-4 col-md-centralizar foto">
            <b>Foto:</b>  <input type="text" id="photo" name="photo">
        </div>
        <div class="form-group col-md-4 col-md-centralizar data">
            <b>Data:</b>  <input type="text" id="date" name="date">
        </div>
        <div class="servicos">
            
        </div>
        <div class="form-group col-md-4 col-md-centralizar">
            <button class="btnCadastrar" type="submit" name="submitForm" value="cadastrar">Cadastar</button>
        </div>
        <div class="form-group col-md-4 col-md-centralizar">
            <button class="btnLimpar" type="reset" name="submitForm" value="cadastrar">Limpar</button>
        </div>

    </form>
    
    <table style="margin-left: 30px;">
    	<tr>
   			<th>ID</th>
   			<th>Modelo</th>
   			<th>Marca</th>
   			<th>Preco</th>
   			<th>Foto</th>
   			<th>Data</th> 	
    	</tr>
    	<tr th:each="mobile:${mobiles}">
    		<td th:text="${mobile.id}"></td>
    		<td th:text="${mobile.model}"></td>
    		<td th:text="${mobile.brand}"></td>
    		<td th:text="${mobile.price}"></td>
    		<td th:text="${mobile.photo}"></td>
    		<td th:text="${mobile.date}"></td>
    	</tr>
     </table>
    
    
    
    
    
    
    
</div>
</body>
</html>